<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('Managementinclude/head.ejs') %>


    <title>Document</title>
</head>
<body>
    <%- include('Managementinclude/navigation.ejs') %>
    
    <div class="TableTecher">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Học sinh</th>
                <th scope="col">Lớp</th>
                <th scope="col">Điểm trung bình</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>