
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('Managementinclude/head.ejs') %>
    <link rel="stylesheet" href="css/ManagementArrange.css">
    <script src="bootstrap-5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>

    <%- include('Managementinclude/navigation.ejs') %>

  
    <div class="container">
        <div class="timetable-img text-center">
            <img src="img/content/timetable.png" alt="">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">Time
                        </th>
                        <th class="text-uppercase">
                            <span>Monday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                        <th class="text-uppercase">
                            <span>Tuesday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                        <th class="text-uppercase">
                            <span>Wednesday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                        <th class="text-uppercase">
                            <span>Thursday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                        <th class="text-uppercase">
                            <span>Friday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">Tiết 1</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>
                    
                    <tr>
                        <td class="align-middle">Tiết 2</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>

                    <tr>
                        <td class="align-middle">Tiết 3</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>

                    <tr>
                        <td class="align-middle">Tiết 4</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>

                    <tr>
                        <td class="align-middle">Tiết 5</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>

                    <tr>
                        <td class="align-middle">Tiết 6</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>

                    <tr>
                        <td class="align-middle">Tiết 7</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>

                    <tr>
                        <td class="align-middle">Tiết 8</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>

                    <tr>
                        <td class="align-middle">Tiết 9</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>
                    
                    <tr>
                        <td class="align-middle">Tiết 10</td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                        <td class="bg-light-gray"></td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
<div class="container">
    <hr>
	<div id="calendar"></div>
</div>
</body>
</html>